version: '3.3'

services:

  #  volumes:
  #  pg_local_volume: {}
  #  pg_local_script_volume: {}

  mysqldb:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: r00t

      #  adminer:
      #    image: adminer
      #    restart: always
      #    ports:
      #      - 8080:8080
      #

  oracledb:
    image: oracle/database:12.2.0.1-ee
    ports:
      - 1521:1521
      - 5500:5500
    environment:
      - ORACLE_SID=xe
      - ORACLE_PDB=duwamishpdb
      - ORACLE_PWD=Duwamish9
      - ORACLE_CHARACTERSET=AL32UTF8
    volumes:
      - /data/oracle:/opt/oracle/oradata
      - ./db:/docker-entrypoint-initdb.d/setup

  local_pgdb:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: pachhigares
    volumes:
      ## - /data/postgres:/var/lib/postgresql/data/pgdata
      ## - pg_local_volume:/var/lib/postgresql/data/pgdata
      - ./db/pg:/docker-entrypoint-initdb.d
      ## - pg_local_script_volume:/docker-entrypoint-initdb.d
    networks:
      - shared_network
    ports:
      - 5432:5432

  local_cdb:
    image: cockroachdb/cockroach:v21.1.2
    volumes:
      - ./db/cdb:/docker-entrypoint-initdb.d
    ports:
        - 5555:5555

networks:
  shared_network: {}
